@font-face {
  font-family: 'Planes_ValMore';
  src: url('font/Planes_ValMore-Bold.woff') format('woff'),
       url('font/Planes_ValMore.ttf') format('truetype');
} 

html, body {
  height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: #4e9961;
    margin: 0;
  }

  #start {
    background-color:  #4e9961;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    
  }

  #start p {
    font-size: 30px;
    color: rgb(255,215,0);
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-family: 'Planes_ValMore';
    font-weight: bold;
    font-style: normal;
  }